#formSortSize {
  width: 5em;
}

#run-button > svg {
  margin-left: 0.3rem;
}

@media screen and (max-width: 400px) {
  #navbar-nav form {
    flex-direction: column;
    text-align: center;

    .form-group {
      padding-bottom: 0.5rem;
    }
  }
}
